<div>
  <h3>your stats</h3>
  <div>
    <br><br>
    <h5>summary</h5>
      <table class="bordered striped centered">
          <tr>
            <th>games played</th>
            <th>games won</th>
            <th>games lost</th>
          </tr>
          <tr>
            <td><%=@user.games.count %></td>
            <td><%=@user.games_won.count %></td>
            <td><%=@user.games_lost.count %></td>
          </tr>
      </table>
  </div>
  <br><br>
  <div>
    <h5>completed</h5>
    <table class="bordered striped centered">
      <tr>
        <th>game</th>
        <th>date</th>
        <th>time</th>
        <th>status</th>
      </tr>
      <% @user.games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.created_at.strftime('%D') %></td>
        <td><%= game.game_time %></td>
        <td><%= game.game_status %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <br><br>
  <div>
    <h5>in progress</h5>
    <table class="bordered striped centered">
      <tr>
        <th>game</th>
        <th>date</th>
        <th>time</th>
        <th>status</th>
      </tr>
      <% @user.games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.created_at.strftime('%D') %></td>
        <td><%= game.game_time %></td>
        <td><%= game.game_status %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
