<div>
  <h3>your stats</h3>
  <div>
    <br><br>
    <h5>summary</h5>
      <table class="bordered striped centered">
          <tr>
            <th>games total</th>
            <th>games completed</th>
            <th>games won</th>
            <th>games lost</th>
            <th>games pending</th>
          </tr>
          <tr>
            <td><%= current_user.games.count %></td>
            <td><%= current_user.games_completed.count %></td>
            <td><%= current_user.games_won.count %></td>
            <td><%= current_user.games_lost.count %></td>
            <td><%= current_user.games_pending.count %></td>
          </tr>
      </table>
  </div>
  <br><br>
  <div>
    <h5>in progress</h5>
    <table class="bordered striped centered">
      <tr>
        <th>game</th>
        <th>started</th>
        <th>time(seconds)</th>
        <th>action</th>
      </tr>
      <% current_user.games_pending.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.created_at.strftime('%D') %></td>
        <td><%= game.time_played * 1000 %></td>
        <td><a href="/games/<%= game.id %>">resume</a></td>
      </tr>
      <% end %>
    </table>
  </div>
  <br><br>
  <div>
    <h5>completed</h5>
    <table class="bordered striped centered">
      <tr>
        <th>game</th>
        <th>date</th>
        <th>time(seconds)</th>
        <th>status</th>
      </tr>
      <% current_user.games_completed.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= game.created_at.strftime('%D') %></td>
        <td><%= game.time_played * 1000 %></td>
        <td><%= game.game_status %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
