<!DOCTYPE html>
<html>
  <head>
    <title>Tic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" media="screen" title="no title">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img src='https://icon.apkmirrordownload.com/com.tictactoefree.png' class='logo'></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_user %>
            <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
            <li><a href="/sessions/delete">logout</a></li>
          <% else %>
              <li><a href="/sessions/new">sign in</a></li>
              <li><a href="/users/new">sign up</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
